.cooperation .gallery {
    width: 100%;
}

.cooperation .galleryCooperationContainer {
    align-items: center;
    display: flex;
    height: 300px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
}

.cooperation .galleryCooperationItem {
    height: 200px;
    opacity: .4;
    position: absolute;
    transition: all 0.3s ease-in-out;
    /* width: 150px; */
    width: 30%;
    z-index: 0;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid rgb(209, 208, 208);
}

.cooperation .galleryCooperationItem:hover {
    box-shadow: 0 5px 10px rgba(68, 88, 144);
}

.cooperation .galleryCooperationItem img {
    width: 20%;
    height: auto;
    z-index: 3;
    object-fit: contain;
}

.cooperation .companyInfo {
    margin-left: 23%;
}

.cooperation .galleryCooperationItem .positionTitle,
.cooperation .galleryCooperationItem .fas {
    color: #ffbf00;
}

.cooperation .galleryCooperationItem .companyName {
    font-weight: bold;
}

.cooperation .galleryCooperationItem .positionTitle,
.cooperation .galleryCooperationItem .companyName {
    font-size: 16px;
}

.cooperation .galleryCooperationItem h3 {
    display: flex;
    align-items: flex-end;
    margin-right: 4%;
    font-size: 2vw;
    height: 75%;
}

.cooperation .galleryCooperationItem p {
    /* padding-top: 3%;
    padding-bottom: 3%; */
    margin-left: 10px;
    text-align: center;
    font-size: 10px;
    color: #535353;
}

.cooperation .galleryCooperationItemContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    height: 50%;
    margin-left: 20px;
}

.cooperation .alignItemCenter {
    align-items: center;
}

.cooperation .paddingTopRight {
    padding-top: 30px;
    padding-right: 20px;
}

.cooperation .galleryCooperationItem.gallery-item-selected {
    /* box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); */
    
    height: 300px;
    opacity: 1;

    /* width: 300px; */
    width: 50%;
    z-index: 2;
}

.galleryCooperationItem.gallery-item-previous,
.galleryCooperationItem.gallery-item-next {
    height: 250px;
    opacity: 1;
    /* width: 200px; */
    width: 40%;
    z-index: 1;
}

.cooperation .galleryCooperationItem.gallery-item-previous {
    transform: translate(150%, -40%);
}

.cooperation .galleryCooperationItem.gallery-item-next {
    transform: translate(150%, 70%);
}

.cooperation .galleryCooperationItem.gallery-item-first {
    transform: translate(200%, -40%);
}

.cooperation .galleryCooperationItem.gallery-item-last {
    transform: translate(200%, 80%);
}

.cooperation .galleryCooperationItem .item1 {
    background: red;
}

.cooperation .galleryCooperationItem .item2 {
    background: green;
}

.cooperation .galleryCooperationItem .item3 {
    background: yellow;
}

.cooperation .galleryCooperationItem .item4 {
    background: blue;
}

.cooperation .galleryCooperationItem .item5 {
    background: orange;
}

.cooperation .galleryCooperationControls {
    display: flex;
    justify-content: space-between;
    /* margin: 30px 0; */
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 25%;
    width: 50%;
    /* background-color: crimson; */
}

.cooperation .galleryCooperationControls .controlButton {
    font-size: 1.5em;
    color: #1976D2;
    background-color: #fff;
    border-radius: 50%;
}

.cooperation .galleryCooperationControls .controlButton:hover {
    color: #ffffff;
    background-color: #1976D2;
    /* border-radius: 50%; */
    box-shadow: 0 0 20px rgba(33, 33, 33, .2);
}

.cooperation .galleryNavContainer {
    width: 50px;
}

.cooperation .galleryNavItem {
    background: #ccc;
    border-radius: 50%;
    height: 16px;
    margin: 8px 0px;
    width: 16px;
}

.cooperation .galleryNavContainer .gallery-item-selected {
    background: #ffbf00;
}

@media (min-width: 991px) {
    .cooperation .galleryCooperationControls {
        display: none;
    }
}

@media (max-width: 910px) {
    /* .gallery-item-content {
        background: linear-gradient(93deg, #d6e7f7  10%, rgba(0,0,0,0) 10%), linear-gradient(98deg, #c2daf3 18%, #9ac2ec 18%);
    } */
    .cooperation .galleryCooperationItem {
        width: 150px;
        height: 250px;
    }
    .cooperation .galleryCooperationItem p {
        height: 150px;
        font-size: 5px;
    }

    /* .galleryCooperationItem.gallery-item-selected {
        width: 90%;
    } */
}

@media (min-width: 365px) and (max-width: 991px) {
    .cooperation .galleryCooperationItem {
        width: 200px;
        height: 250px;
    }

    .cooperation .galleryCooperationItem.gallery-item-previous,
    .cooperation .galleryCooperationItem.gallery-item-next {
        /* width: 150px; */
        width: 45%;
        height: 280px;
    }

    .cooperation .galleryCooperationItem.gallery-item-selected {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .cooperation .galleryCooperationControls {
        width: 70%;
        left: 15%;
    }

    .cooperation .galleryCooperationItem.gallery-item-selected p {
        /* font-size: 2vw; */
    }

    .cooperation .galleryCooperationItem.gallery-item-selected img {
        width: 15%;
        height: inherit;
        /* height: 50%; */
    }

    .cooperation .galleryCooperationItem.gallery-item-previous,
    .cooperation .galleryCooperationItem.gallery-item-next,
    .cooperation .galleryCooperationItem.gallery-item-first,
    .cooperation .galleryCooperationItem.gallery-item-last {
        left: 50%;
        transform: translateX(-50%);
    }

    .cooperation .companyInfo {
        margin-left: 1%;
    }

    .cooperation .galleryCooperationItemContent {
        margin-left: 0px;
    }

    .cooperation .galleryNavContainer {
        display: none;
    }
}

@media (max-width: 364px) {
    .cooperation .galleryCooperationItem.gallery-item-previous,
    .cooperation .galleryCooperationItem.gallery-item-next {
        width: 200px;
        /* width: 60%; */
        height: 280px;
    }

    .cooperation .galleryCooperationItem.gallery-item-selected {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .cooperation .galleryCooperationControls {
        width: 90%;
        left: 5%;
    }

    .cooperation .galleryCooperationItem.gallery-item-selected img {
        width: 20%;
        height: 30%;
    }

    .cooperation .galleryCooperationItem.gallery-item-previous,
    .cooperation .galleryCooperationItem.gallery-item-next,
    .cooperation .galleryCooperationItem.gallery-item-first,
    .cooperation .galleryCooperationItem.gallery-item-last {
        left: 50%;
        transform: translateX(-50%);
    }

    .cooperation .companyInfo {
        margin-left: 0%;
    }

    .cooperation .galleryCooperationItemContent {
        margin-left: 0px;
    }

    .cooperation .galleryNavContainer {
        display: none;
    }
}