/* cooperation */
.cooperation {
    padding-top: 0px;
    padding-bottom: 0px;
}

.cooperation .cooperationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cooperation img {
    width: 80%;
    height: auto;
    z-index: -1;
}

.cooperation .vertical {
    width: 8%;
    height: 100px;
    border-left: 5px solid rgba(0, 0, 0, 0.05);
    border-right: 5px solid rgba(0, 0, 0, 0.05);
    margin-top: 10px;
}

.cooperation .galleryNavItem {
    background: #ccc;
    border-radius: 50%;
    height: 16px;
    margin: 8px 0px;
    width: 16px;
    cursor: pointer;
}

.cooperation .cooperationContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cooperation .galleryNavContainer {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cooperation .cooperationSectionTitleContainer {
    width: 38%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cooperation .cooperationSectionContent {
      width: 400px;
      text-align: center;
}

.cooperation .cooperationSectionContent hr {
    width: 250px;
    margin: auto;
}

.cooperation .cooperationIntro {
    margin: 10% 5%;
    color: #ffbf00;
    font-size: 1vw;
}

.cooperation .cooperationCarousel {
    width: 60%
}

.cooperation .galleryCooperationContainer {
    align-items: center;
    display: flex;
    height: 300px;
    position: relative;
}

.cooperation .galleryCooperationItem {
    height: 200px;
    opacity: .4;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 30%;
    z-index: 0;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ececec;
}

.cooperation .galleryCooperationItem:hover {
    box-shadow: 0 5px 10px rgba(68, 88, 144);
}

.cooperation .galleryCooperationItemContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    height: 45%;
    margin: 10px;
}

.cooperation .alignItemCenter {
    align-items: center;
}

/* .cooperation .paddingTopRight {
    padding-top: 30px;
    padding-right: 20px;
} */

.cooperation .galleryCooperationItem .fas {
    font-size: 1vw;
    color: #ffbf00;
}

.cooperation .galleryCooperationItem p {
    margin-left: 10px;
    text-align: center;
    font-size: 1vw;
    color: #535353;
}

.cooperation .galleryCooperationItem img {
    width: 18%;
    height: auto;
    z-index: 3;
    object-fit: contain;
}

.cooperation .companyInfo {
    margin-left: 20px;
}

.cooperation .galleryCooperationItem .positionTitle {
    font-size: 1vw;
    color: #ffbf00;
}

.cooperation .galleryCooperationItem .companyName {
    font-size: 1vw;
}

.cooperation .galleryCooperationControls {
    display: none;
}


/* selected previous next first last */
.cooperation .galleryNavContainer .gallery-item-selected {
    background: #ffbf00;
}

.cooperation .galleryCooperationItem.gallery-item-selected {
    height: 300px;
    opacity: 1;
    width: 50%;
    z-index: 2;
}

.cooperation .galleryCooperationItem.gallery-item-selected .positionTitle {
    font-size: 1.3vw;
}

.cooperation .galleryCooperationItem.gallery-item-selected .companyName {
    font-size: 1.5vw;
    font-weight: bold;
}


.galleryCooperationItem.gallery-item-previous,
.galleryCooperationItem.gallery-item-next {
    height: 260px;
    opacity: 1;
    width: 35%;
    z-index: 1;
}

.cooperation .galleryCooperationItem.gallery-item-previous {
    transform: translate(120%, -60%);
}

.cooperation .galleryCooperationItem.gallery-item-next {
    transform: translate(120%, 45%);
}

.cooperation .galleryCooperationItem.gallery-item-first {
    transform: translate(140%, -70%);
}

.cooperation .galleryCooperationItem.gallery-item-last {
    transform: translate(140%, 60%);
}

@media (max-width: 991px) {
    .cooperation .galleryNavContainer {
        display: none;
    }

    .cooperation .cooperationSectionTitleContainer {
        width: 100%;
        justify-content: center;
    }

    .cooperation .vertical {
        height: 50px;
    }

    .cooperation .cooperationSectionContent {
        width: 100%;
    }

    .cooperation .cooperationCarousel {
        width: 80%
    }

    .cooperation .cooperationIntro {
        margin: 20px 50px 5px 50px;
    }

    .cooperation .cooperationContent {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .cooperation .galleryCooperationContainer {
        align-items: flex-start;
        height: 200px;
        width: 120%;
    }

    .cooperation .galleryCooperationItem.gallery-item-selected {
        width: 80%;
        height: 100%;
    }

    .cooperation .galleryCooperationItem.gallery-item-previous,
    .cooperation .galleryCooperationItem.gallery-item-next,
    .cooperation .galleryCooperationItem.gallery-item-first,
    .cooperation .galleryCooperationItem.gallery-item-last {
        width: 80%;
        transform: none;
        height: 40%;
    }

    .cooperation .galleryCooperationItem img {
        width: 50px
    }

    .cooperation .galleryCooperationItemContent {
        height: 43%;
    }
    
    .cooperation .companyInfo {
        margin-left: 20px;
    }

    .cooperation .galleryCooperationControls {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        top: 44%;
        width: 83%;
        margin-left: -12px;
    }

    .cooperation .galleryCooperationControls .controlButton {
        font-size: 3.5vw;
        color: #ffbf00;
        background-color: #fff;
        border-radius: 50%;
    }
    
    .cooperation .galleryCooperationControls .controlButton:hover {
        color: #ffffff;
        background-color: #ffbf00;
        box-shadow: 0 0 20px rgba(33, 33, 33, .2);
    }
}

@media (max-width: 541px) {
    .cooperation .galleryCooperationControls {
        margin-left: -4px;
    }
    .cooperation .galleryCooperationControls .controlButton {
        font-size: 5.5vw;
    }
}