.services .gallery {
  position: relative;
  width: 100%;
  padding-top: 30%;
}

.services .gallery-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
}

.services .gallery-item {
  height: 60%;
  opacity: .4;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 25%;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ececec;
  box-shadow: 0 0 2px rgba(33, 33, 33, .2);
}

.services .gallery-item-background {
  height: 60%;
  opacity: .4;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 25%;
  z-index: 0;
  background-color: #fc0b0b;
  border-radius: 10px;
  border: 1px solid #ececec;
  box-shadow: 0 0 2px rgba(33, 33, 33, .2);
}

.services .gallery-item img {
  width: 100%;
  max-width: 60%;
  height: auto;
  /* background-color: darkturquoise; */
}

.services .gallery-item h3 {
  display: flex;
  align-items: flex-end;
  margin-right: 4%;
  font-size: 2vw;
  /* height: 75%; */
  margin-bottom: 0px;
}

.services .gallery-item p {
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  font-size: 1vw;
}

.services .gallery-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  height: 58%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
}

.services .gallery-item.gallery-item-selected {
  /* box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); */
  height: 100%;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  z-index: 2;
}

.services .gallery-item.gallery-item-previous,
.services .gallery-item.gallery-item-next {
  height: 100%;
  opacity: 1;
  width: 30%;
  z-index: 2;
}

.services .gallery-item.gallery-item-previous {
  left: 18%;
  transform: translateX(-50%);
}

.services .gallery-item.gallery-item-next {
  left: 82%;
  transform: translateX(-50%);
}

.services .gallery-item.gallery-item-first {
  left: 19%;
  transform: translateX(-50%);
}

.services .gallery-item.gallery-item-last {
  left: 81%;
  transform: translateX(-50%);
}

.services .gallery-item.gallery-item-end {
  left: 81%;
  transform: translateX(-50%);
}

/* .services .gallery-item .item1 {
  background: linear-gradient(98deg, #fcbdb1  10%, rgba(0,0,0,0) 10%), linear-gradient(103deg, #fe9e93 18%, #fd7366 18%);
}

.services .gallery-item .item2 {
  background: linear-gradient(100deg, #87d7d5  10%, rgba(0,0,0,0) 10%), linear-gradient(110deg, #51cbc3 18%, #02bbaa 18%);
}

.services .gallery-item .item3 {
  background: linear-gradient(100deg, #d6e7f7  10%, rgba(0,0,0,0) 10%), linear-gradient(107deg, #c2daf3 18%, #9ac2ec 18%);
}

.services .gallery-item .item4 {
  background: linear-gradient(100deg, #ffedb1  10%, rgba(0,0,0,0) 10%), linear-gradient(110deg, #fada73 18%, #eab93f 18%);
}

.services .gallery-item .item5 {
  background: linear-gradient(100deg, #f5b8ff  10%, rgba(0,0,0,0) 10%), linear-gradient(110deg, #f3a2ff 18%, #c86dd7 18%);
} */

.services .gallery-controls {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  /* top: 5%; */
  left: 1%;
  width: 98%;
}

.services .gallery-controls i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #1976D2;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
}

.services .gallery-controls i:hover {
  background: #fff;
  color: #1976D2;
  box-shadow: 0 0 20px rgba(33, 33, 33, .2);
}

.services .gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.services .gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.services .gallery-nav li.gallery-item-selected {
  background: #555;
}

@media (max-width: 991px) {
  .services .gallery {
    padding-top: 40%;
  }

  .services .gallery-item {
    /* width: 10%; */
    /* height: 10%; */
    opacity: 0;
  }

  .services .gallery-item.gallery-item-previous,
  .services .gallery-item.gallery-item-next {
    /* width: 10%; */
    /* height: 10%; */
    opacity: 0;
  }

  .services .gallery-item.gallery-item-selected {
    width: 80%;
  }

  .services .gallery-controls {
    width: 84%;
    left: 8%;
  }

  .services .gallery-item img {
    max-width: 35%;
  }
  
}

@media (max-width: 321px) {
  .services .gallery {
    padding-top: 47%;
  }
}