

/* english font */
@font-face {
  font-family: custom;
  src: url('../../assets/fonts/Lato-Regular.ttf');
  unicode-range: U+00-024F;
}

/* chinese font */
/* @font-face {
  font-family: custom;
  src: url('../../assets/fonts/Lato-Regular.ttf');
  unicode-range: U+4E00-9FFF;
} */

/* General */
body {
    /* font-family: "Open Sans", sans-serif; */
    font-family: custom, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.sectionTitleDiv {
    text-align: center;
    width: fit-content;
    margin: 0px auto 20px auto;
}

.sectionTitle {
    color: #202020;
    opacity: 0.05;
    font-size: 50px;
}

.sectionSubTitle {
    margin-top: -40px;
    font-size: 30px;
    font-weight: bold;
}

.sectionTitleDiv hr {
    width: 80%;
    margin: 20px auto 0px auto;
    opacity: 0.1;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: auto;
    }
}
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
  }
  
  .back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #1976D2;
    color: #fff;
    transition: all 0.4s;
  }
  
  .back-to-top i:hover {
    background: #1976D2;
    color: #fff;
    opacity: 0.7;
  }
  
  /*--------------------------------------------------------------
  # Disable AOS delay on mobile
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 70px;
    transition: all 0.5s;
    z-index: 10;
    transition: all 0.5s;
    background: rgba(42, 44, 57, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #header.header-transparent {
    background: transparent;
  }
  
  #header.header-scrolled {
    background: rgba(42, 44, 57, 0.9);
  }

  #header .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
    width: 90%;
    max-width: 1536px;
  }

  #header .logo .logoImg {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  #header .logo .logoImg.header-scrolled {
    content: url("../../assets/img/LeaCloud_logo_white.png");
    width: 245px;
    max-height: 100%;
    margin-left: -7px;
  }

  #header .headerList-li {
    border-bottom: .25rem solid transparent;
  }

  #header .headerList-li:hover {
    border-bottom: .25rem solid #fff;
  }

  #header .navMenuImg:hover {
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }

  #header .logo .navMenuImg {
    display: none;
  }

  #header .normal-ul {
    display: flex;
    align-items: center;
  }

  #header .normal-ul .navMenuImg {
    margin-left: 20px;
  }

  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
    margin-left: 14px;
    color: #fff;
  }

  .nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    padding: 0px 5px;
    transition: 0.3s;
    font-size: 14px;
  }
  
  /* .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a { */
    /* background: #ef6603; */
    /* text-decoration: none; */
  /* } */
  
  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 0px 0px;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
    border-radius: 3px;
    margin-top: 20px;
  }
  
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .nav-menu .drop-down ul .triangle {
    border-left: 20px solid transparent;
    border-right: 10px solid transparent;
    border-top: 7px solid transparent;
    border-bottom: 20px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -18px;
  }
  
  .nav-menu .drop-down li {
    min-width: 40px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #2a2c39;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #1976D2;
    background: none;
  }
  
  /* .nav-menu .drop-down > a:after { */
    /* content: "\25BC"; */
    /* font-family: IcoFont;
    padding-left: 5px; */
  /* } */
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 625px) {
    #header .headerContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px 0px;
      width: 100%;
    }

    #header .logo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      height: 80px;
      padding-top: 10px;
    }

    #header .logo .logoImg {
      max-height: 30px;
    }

    #header .logo .logoImg.header-scrolled {
      width: 184px;
      max-height: 50px;
      margin-left: -5px;
    }

    #header .logo .navMenuImg {
      display: block;
      border-radius: 30%;
      background-color: rgba(42, 44, 57, 0.9);
    }

    #header .logo .navMenuImg.header-scrolled-detailbtn {
      background-color: transparent;
    }

    #header .normal-ul {
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 35px;
      background: linear-gradient(to bottom, #80c3f3, #4a90e2);
    }

    #header .normal-ul .navMenuImg {
      display: none;
    }
    
    .nav-menu > ul > li {
      margin: 0px 15px;
    }
  }

  @media (max-width: 326px) {
    .nav-menu > ul > li {
      margin: 0px 8px;
    }
  }
  
  /*--------------------------------------------------------------
  # banner Section
  --------------------------------------------------------------*/
  #banner {
    background-color: #dfefff;
    background-image: url('../../assets/img/Banner.png');
    padding: 0px 0px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 49vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #banner .bannerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 90%;
    max-width: 1536px;
  }

  #banner .bannerContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #banner .bannerContentTitle {
    margin-top: 10px;
    font-size: 37px;
    font-weight: bold;
    background: -webkit-linear-gradient(#696969, #b4ac9c 50% , #384456 55%, #696969 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 98%;
  }

  #banner .bannerContentSubTitle {
    color: #1976D2;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    width: 95%;
    margin-left: 3px;
  }

  #banner .bannerContentText {
    width: 90%;
    margin: 30px auto 0 auto;
    font-weight: bold;
    font-size: 18px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #banner .dotLineArrow {
      margin-left: 15px;
  }

  #banner a {
    color: #8b8f94;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #banner #bannerContentSubText {
    font-size: 22px;
    -webkit-animation: blinkingWithoutBoxShadow 1s infinite;  /* Safari 4+ */
    -moz-animation: blinkingWithoutBoxShadow 1s infinite;  /* Fx 5+ */
    -o-animation: blinkingWithoutBoxShadow 1s infinite;  /* Opera 12+ */
    animation: blinkingWithoutBoxShadow 1s infinite;  /* IE 10+, Fx 29+ */
  }

  #banner .tryNowBtn {
    /* color: #8b8f94; */
    font-size: 30px;
    /* position: relative;
    top: 20%; */
    margin-left: 4px;
    border-radius: 50%;
    -webkit-animation: blinking 1s infinite;  /* Safari 4+ */
    -moz-animation: blinking 1s infinite;  /* Fx 5+ */
    -o-animation: blinking 1s infinite;  /* Opera 12+ */
    animation: blinking 1s infinite;  /* IE 10+, Fx 29+ */
  }

  #banner .tryNowBtn:hover {
    color: #1976D2;
  }

  @keyframes blinking {
    50% {
      color: #1976D2;
      /* box-shadow: 0 0 5px#678baf; */
    }
  }

  @-webkit-keyframes blinking {
    50% {
      color: #1976D2;
      /* box-shadow: 0 0 5px#678baf; */
    }
  }

  @keyframes blinkingWithoutBoxShadow {
    50% {
      color: #1976D2;
    }
  }

  @-webkit-keyframes blinkingWithoutBoxShadow {
    50% {
      color: #1976D2;
    }
  }
  
  #banner p {
    width: 95%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #1976D2;
  }

  @media (max-width: 991px) {
    #banner .bannerContentTitle {
      font-size: 3.5vw;
      margin-top: 30px;
    }
  
    #banner .bannerContentSubTitle {
      font-size: 2.2vw;
      margin-top: 5px;
      margin-left: 0px;
    }
  
    #banner .bannerContentText {
      font-size: 1.8vw;
      margin: 3vw auto 0 auto;
    }

    #banner .dotLineArrow {
      width: 10%;
      height: auto;
    }

    #banner .tryNowBtn {
      font-size: 4vw;
    }

    #banner #bannerContentSubText {
      font-size: 2vw;
      }
  }

  @media (max-width: 625px) {
    #banner {
      margin-top: 88px;
    }
  }
  
  .banner-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
  }

  .globe-pricing-waves {
    display: block;
    width: 100%;
    height: 90px;
    position: relative;
    z-index: 4;
  }
  
  .wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  @-webkit-keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }

  .customerServiceButton {
    background-color: #fff;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 90px;
    height: 90px;
    text-align: center;
    padding-top: 15px;
    position: relative;
    z-index: 1;
    margin: -40px auto;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 20px rgba(33, 33, 33, .1);
    color: #000;
  }

  .customerServiceButton i {
    color: #1976D2;
    font-size: 30px;
  }

  .customerServiceButton:hover {
    background-color: #1976D2;
    color: #fff;
  }

  .customerServiceButton:hover i {
    color: #fff;
  }

  @media (max-width: 991px) {
    .customerServiceButton {
      position: fixed;
      right: 15px;
      bottom: 150px;
      z-index: 99999;
      width: 70px;
      height: 70px;
      font-size: 12px;
    }

    .customerServiceButton i {
      font-size: 25px;
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    padding-bottom: 40px;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2a2c39;
  }

  .features p {
    text-align: center;
    color: #66757f;
  }

  .features h4 {
    color: black;
    font-size: 18px;
    text-align: center;
  }

  .features .fontBold {
    font-weight: 600;
  }

  .features a {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* border: 1px solid rgba(216, 215, 215, 0.4); */
    transition: all 0.4s ease-in-out;
    width: 120px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(139, 139, 139, 0.2);
  }

  .features a:hover {
    /* box-shadow: 0 2px 5px#1976D2; */
    box-shadow: 0 0 20px rgba(33, 33, 33, .2);
  }

  .features img {
    margin: 5px auto 20px;
  }

  .features .paddingTop {
    padding-top: 2px;
  }

  .features .paddingTop1 {
    padding-top: 3px;
  }

  .features .featuresCnameItemImg {
    margin-top: 0px;
  }

  .features .featuresItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .features .nav-link i {
      padding: 0;
      line-height: 1;
      font-size: 36px;
    }
  }
  
  @media (max-width: 575px) {
    .features .nav-link {
      padding: 15px;
    }
    .features .nav-link i {
      font-size: 24px;
    }
  }
  
  .features .tab-content {
    margin-top: 30px;
  }
  
  .features .tab-pane h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .features .tab-pane ul {
    list-style: none;
    padding: 0;
  }
  
  .features .tab-pane ul li {
    padding-bottom: 10px;
  }
  
  .features .tab-pane ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #ef6603;
  }
  
  .features .tab-pane p:last-child {
    margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services {
    /* padding-top: 0px; */
    padding-bottom: 0px;
  }

  /* globe */
  .globe {
    /* padding-top: 0px;
    padding-bottom: 0px; */
    margin-bottom: -60px;
    /* background-color: #FF9F00; */
  }

  .globe .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: #7ed321; */
  }

  .globe .sectionSubTitle {
    color: #ffbf00;
  }

  .globe p {
    color: #66757f;
    text-align: center;
    /* font-size: 1vw; */
  }

  .globe #globeSection {
    height: 400px;
  }

  .globe .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: cadetblue; */
  }

  @media (min-width: 1705px) {
    .globe p {
      font-size: 15px;
    }
  }

  @media (max-width: 991px) {
    .globe .container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .globe p {
      font-size: 16px;
    }
  }
  
  /* pricing */
  .pricing .container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .pricing .helpButton {
    margin-top: 60px;
    margin-bottom: -20px;
    color: #000;
    font-weight: bold;
  }

  .pricing .helpButton:hover {
    color: #ffbf00;
  }

  .pricing .box {
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    margin-left: -10px;
    margin-right: -10px;
    height: 100%;
    width: 300px;
  }

  .pricing .onHover {
    transform: scale(1.1);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    z-index: 2;
  }

  .pricing p {
      color: #66757f;
      margin-bottom: 40px;
  }
  
  .pricing h3 {
    /* font-weight: 700; */
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .pricing .price {
    font-size: 36px;
    color: #1A76D2;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .pricing .price sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  
  .pricing .price span {
    color: #000;
    font-size: 24px;
    font-weight: 300;
  }
  
  .pricing ul {
    /* padding: 0; */
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 25px;
    padding-top: 8px;
    border-top: 2px solid rgb(226, 226, 226, 0.5);
    /* list-style: disc inside; */
  }

  .pricing ul li::before {
    content: "\2022";
    color: #FF9F00;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  
  .pricing ul li {
    padding-bottom: 10px;
    margin-left: -20px;
  }
  
  .pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
  }
  
  .pricing .btn-buy {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    color: #000;
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid #E8EDFA;
  }
  
  .pricing .btn-buy:hover {
    background: linear-gradient(to bottom, #b9dcff, #1976d2);
    color: #fff;
  }
  
  .pricing .featured {
    width: 200px;
    position: absolute;
    top: 8px;
    right: -100px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #1976D2;
    display: none;
  }

  .pricing .onDisplay {
    display: block;
  }

  .pricing .featured .star {
    color: #ffbf00;
    margin-left: -30px;
    margin-top: 10px;
  }

  /* new section ================== */
  .pricing {
    background-color: #dfefff;
    /* background-color: #b200c2; */
    padding-top: 0px;
    padding-bottom: 0px;
    /* margin-top: -4px; */
  }

  .pricing .pricingContentRow {
    height: 215px; 
    width: 100%; 
    /* background-color: teal; */
    /* background: url(../../assets/img/pricing/pricingRowBackground.png) no-repeat center center; */
  }

  .pricing img {
    max-width: 500px;
    height: auto;
    /* position: relative; */
    margin-top: -16px;
    z-index: 5;
  }

  .pricing .pricingSubContentColumn {
    /* background-color: coral;  */
    background: url(../../assets/img/pricing/pricingLeftBackgorund.png) no-repeat center center;
    padding-left: 0px; 
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100%; */

    margin-top: -30px;
  }

  .pricing .pricingSubContentColumn1 {
    /* background-color: rgb(245, 227, 184);   */
    padding-left: 0px; 
    padding-right: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pricing .detailButtons {
    /* height: 35%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    margin-top: 14px;
  }

  .pricing .detailButton {
    background: linear-gradient(to bottom, #80c3f3, #4a90e2);
    padding: 10px 48px;
    transition: 0.4s;
    border-radius: 24px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }

  .pricing .detailButton:hover {
    background: transparent;
    border: 1px solid #000;
    transition: all 0.4s ease-in-out;
    color: #000;
  }

  .pricing .pricingContentTitle, .pricing .pricingContentSubTitle {
    font-weight: bold;
    background: -webkit-linear-gradient(#696969, #b4ac9c 50% , #384456 55%, #696969 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
  }

  .pricing .sectionTitleDiv {
    position: absolute;
    margin-top: -30px;
    margin-left: 40px;
  }

  .pricing .sectionSubTitle {
    color: #ffbf00;
  }


  /* =================================== */

  @media (max-width: 991px) {
    .pricing .featured .star {
      margin-top: 20px;
      margin-left: -60px;
      font-size: 20px;
    }

    .pricing .pricingContentRow {
      height: 200px; 
      width: 100%;
    }

    .pricing .pricingSubContentColumn {
      height: 100%;
      margin-top: 0px;
    }

    .pricing .pricingSubContentColumn1 {
      display: none;
    }

    .pricing .box {
      width: auto;
    }

    .pricing img {
      /* clip: unset;
      z-index: 1;
      width: 100%;
      margin-top: -30px;
      position: relative; */
      display: none;
    }

    .pricing .sectionTitleDiv {
      /* margin-top: -70px; */
      display: none;
    }
  }

  @media (max-width: 773px) {
    .pricing .pricingBoxCotent {
      width: 75%;
    }

    .pricingItemGroup {
      display: flex;
      justify-content: center;
    }
  }

  /* @media (max-width: 763px) {
    .pricing img {
      margin-top: -20px;
    }
  } */

  @media (max-width: 573px) {
    .pricing .pricingBoxCotent {
      width: 80%;
    }

    .pricingItemGroup {
      display: flex;
      justify-content: center;
    }
    /* .pricing img {
      width: 120%;
      margin-left: -20px;
      margin-top: -30px;
    } */
  }

  @media (max-width: 424px) {
    /* .pricing img {
      margin-top: -10px;
    } */

    /* .pricing .pricingContentRow {
      height: 380px;
    } */

    /* .pricing .sectionTitleDiv {
      margin-top: -40px;
      margin-left: 20px;
    } */
  }

  @media (max-width: 352px) {
    .pricing .pricingContentTitle{
      font-size: 18px;
    }
  
    .pricing .pricingContentSubTitle {
      font-size: 20px;
    }

    .pricing .detailButtons {
      width: 200px;
    }
  
    .pricing .detailButton {
      padding: 5px 20px;
      font-size: 8px;
    }

    /* .pricing .pricingContentRow {
      height: 300px;
    } */

    /* .pricing img {
      margin-top: -10px;
    } */

    /* .pricing .sectionTitleDiv {
      margin-top: -20px;
    } */

    .pricing .sectionTitle {
      font-size: 40px;
    }
  
    .pricing .sectionSubTitle {
      margin-top: -30px;
      font-size: 25px;
    }
  }
  
  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  .contact {
    padding-top: 0px;
    padding-bottom: 30px;
  }

  .contact .info {
    width: 100%;
    background: #fff;
    margin-top: 30px;
    padding-left: 45px;
  }

  .contact .contactInputs {
    margin-left: 4.3%;
  }
  
  .contact .info i {
    font-size: 18px;
    color: #888888;
    float: left;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2a2c39;
  }
  
  .contact .info p, .contact .info a {
    margin-bottom: 0;
    font-size: 18px;
    color: #888888;
  }

  .contact .info a:hover {
    color: #1976D2;
  }


  .contact .info .item {
    display: flex;
    align-items: center;
  }

  .contact .vhr {
    border-left: 1px solid #1a76d2;
    margin-bottom: 40px;
  }
  
  .contact .php-email-form {
    width: 100%;
    background: #fff;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
  }

  .contact .php-email-form .form-group i {
    margin-top: 15px;
    margin-left: -25px;
    margin-bottom: 10px;
    z-index: 2;
    color: #888888;
    background-color: #fff;
  }
  
  .contact .php-email-form .validate {
    display: block;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  /* .contact .php-email-form button[type="submit"] {
    background-color: #1a76d2;
    border: 3px solid #1a76d2;
    padding: 10px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 3px;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background-color: #fff;
    color: #1a76d2;
    border: 3px solid #1a76d2;
  } */

  .contact #contactSubmit {
    background-color: #1a76d2;
    border: 3px solid #1a76d2;
    padding: 10px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 3px;
  }
  
  .contact #contactSubmit:hover {
    background-color: #fff;
    color: #1a76d2;
    border: 3px solid #1a76d2;
  }

  .contact .sectionSubTitle {
    color: #1a76d2;
  }

  .contact .sectionSubTitle1 {
    color: #1a76d2;
    font-size: 30px;
    font-weight: bold;
    margin-left: 17%;
    width: 100%;
  }

  .contact .contactInputsTitle {
    color: #1a76d2;
    font-size: 30px;
    font-weight: bold;
  }

  .contact .sectionTitleDiv {
    margin: 0px;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 991px) {
    .contact .sectionTitleDiv {
      margin: 0px auto 20px auto;
    }

    .contact .sectionSubTitle1 {
      margin-left: 0%;
    }

    .contact .contactInputs {
      margin-left: 0px;
    }

    .contact .contactInputsTitle {
      text-align: center;
    }

    .contact .vhr {
      border-bottom: 1px solid #1a76d2;
      width: 80%;
      margin-left: 10%;
    }
  }
  
  /* Footer*/
  .footer {
    background: #3a3a3a;
    color: #fff;
    font-size: 14px;
    padding: 30px 0;
  }

  .footer img {
    max-width: 240px; height: auto;
    margin-top: 20px;
    margin-left: -6px;
  }

  .footer h4 {
    font-size: 14px;
    color: #ccc;
    margin: 18px 0px;
  }

  .footer p {
    text-align: center;
  }

  .footer a {
    font-size: 14px;
    color: #fff;
  }

  .footer a:hover {
    color: #ffb600;
  }

  .footer .a-Interval {
    margin-bottom: 8px;
  }

  .footer .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer .interval {
    margin-right: 20px;
  }

  .footer hr {
    height: 5px;
    margin: 0px 0px 20px 0px;
    opacity: 1;
  }

  .footer .aboutUs {
    background: linear-gradient(to right, #b5eb45, #7ed321);
  }

  .footer .helpCenter {
    background: linear-gradient(to right, #80c3f3, #4a90e2);
  }

  .footer .toolsInfo {
    background: linear-gradient(to right, #fbd249, #f5a623);
  }

  .footer .contactInfo {
    background: linear-gradient(to right, #fb499c, #fb499c);
  }

  .footer .footerLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer i {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .footer i:hover {
    color: #ffb600;
  }

  @media (max-width: 991px) {
    .footer .container {
      display: flex;
      flex-direction: column;
    }

    .footer p {
      text-align: start;
    }
  }

  /* #footer .copyright {
    margin: 0 0 5px 0;
  } */

  /* Detail*/
  .detail {
    background: #3a3a3a;
    opacity: 0.95;
    color: #fff;
    font-size: 14px;
    position: fixed;
    top: 0px;
    width: 0%;
    height: 100%;
    z-index: 11;
    padding-top: 0px;
    transition: ease all 0.3s;
  }

  .detail .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease all 0.2s;
  }

  .detail .closebutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 25%;
  }

  .detail img {
    width: 40px;
    height: 40px;
    margin-top: 16px;
    margin-right: 5vw;
    cursor: pointer;
  }

  .detail img:hover {
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
  }

  .detail .detailContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .detail .detailButtons {
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 38%;
  }

  .detail .detailButton {
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 24px;
  }

  .detail .detailButton:hover {
    background: linear-gradient(to bottom, #80c3f3, #4a90e2);
    border: 1px solid transparent;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }

  .detail .detailColumn {
    text-align: center;
  }

  .detail h2 {
    font-size: 33px;
    color: #1976D2;
    margin: 18px 0px;
  }

  .detail hr {
    height: 1px;
    margin: 0px 0px 20px 0px;
    opacity: 1;
    background-color: #1976D2;
  }

  .detail a {
    font-size: 16px;
    color: #fff;
  }

  .detail a:hover {
    color: #ffb600;
  }

  .detail .a-Interval {
    margin-bottom: 20px;
  }

  .detail .interval {
    margin-right: 20px;
  }

  @media (max-width: 991px) {
    .detail .detailContainer {
      display: flex;
      flex-direction: column;
    }

    .detail .detailColumn {
      text-align: start;
    }

    .detail h2 {
      font-size: 23px;
      margin: 0px 0px;
      padding: 10px 40px;
    }

    .detail a {
      /* padding: 0px 40px; */
    }

    .detail .closebutton {
      height: 60px;
      width: 100%;
    }

    .detail .a-Interval {
      margin-bottom: 10px;
      border-bottom: 1px solid rgb(204, 204, 204, 0.1);
      padding: 8px 0px;
      margin: 0px 40px;
      
    }

    .detail .detailButtons {
      display: none;
    }

    .detail hr {
      height: 2px;
      margin: 0px 40px;
    }

    .detail .interval {
      margin-right: 0px;
    }
  }

  @media (max-width: 625px) {
    .detail img {
      margin-top: 10px;
      margin-right: 2vw;
    }
  }